.alert {
    position: relative;
    color: white;
    height: auto;
    width: 30vw;
    border-radius: 6px;
    padding: 6px;
    padding-bottom: 10px;
    margin: 10px;
    transform: translate(35vw, 0px); 
    background-color: #e74c3c;   
    transition: transform 300ms cubic-bezier(0.7, 0.51, 0, 1.38);
}

.alert.show {
    transform: translate(0px, 0px);
}

.progress-bar{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: white;
    height: 4px;
    border-bottom-left-radius: 6px;
}

.error{
    background-color: #e74c3c;
}

.success{
    background-color: #27ae60;
}
